<section>
    <div style="background-color: #eaeaea;" class="w-auto h-auto pt-5">
        <div class="container">
            <div class="row ">
                <h2 class="fs-2 fw-bold text-dark  mb-0">
                    Ainda tem Dúvidas?
                </h2>
                <h2 class="fs-2 fw-bold text-primary mb-5"> Nós te ajudamos.</h2>
            </div>
            <div class="row mb-5">
                <div class="accordion accordion-flush rounded-5" id="accordionFlushExample">
                    <div class="accordion-item rounded-5 mb-4">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed rounded-5" type="button"
                                data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false"
                                aria-controls="flush-collapseOne">
                                Como funciona a carteirinha?
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">A carteirinha da STUP é um cartão de transporte recarregável
                                que os passageiros adquirem em nossos postos de emissão
                                autorizados. Ela é utilizada para entrar nos ônibus, bastando aproximá-la do leitor
                                de cartões próximo à catraca. A
                                carteirinha pode ser recarregada com créditos ou passes mensais, tem validade
                                determinada e oferece benefícios, como
                                descontos para estudantes e idosos, conforme as políticas da STUP. Além disso, os
                                clientes também podem recarregá-la de
                                forma conveniente através do nosso site oficial.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item rounded-5 mb-4">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed rounded-5" type="button"
                                data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                aria-controls="flush-collapseTwo">
                                Onde faço minha carteirinha?
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Você pode fazer sua carteirinha da STUP em Caraguatatuba,
                                especificamente no posto de emissão autorizado localizado no
                                CEP 11665-071. Basta se dirigir a esse posto, fornecer as informações necessárias e
                                tirar uma foto para obter sua
                                carteirinha. Certifique-se de verificar o horário de funcionamento e quaisquer
                                requisitos específicos no site oficial da
                                STUP ou entrando em contato com nosso serviço de atendimento ao cliente para obter
                                informações atualizadas sobre o ponto
                                de emissão em Caraguatatuba.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item rounded-5 mb-4">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed rounded-5" type="button"
                                data-bs-toggle="collapse" data-bs-target="#flush-collapseThree"
                                aria-expanded="false" aria-controls="flush-collapseThree">
                                Como recarregar minhas passagens?
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Para recarregar suas passagens na STUP em Caraguatatuba (CEP
                                11665-071), dirija-se ao único ponto de atendimento
                                autorizado no local ou recarregue online através do nosso site oficial.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="text-center fw-bold mb-5 mx-0 px-0">
                    <p class=" ">
                        Ainda sobraram dúvidas? <a class="text-decoration-underline text-primary"
                            href="/atendimento">Entre em
                            contato.</a>
                    </p>
                </div>
            </div>
        </div>

    </div>
    </div>
</section>